/* Error: Module loop: this module is already being loaded.
 *   ,--> _normalize.scss
 * 1 | @use "normalize";
 *   | ^^^^^^^^^^^^^^^^ new load
 *   '
 *   ,--> Sass.scss
 * 2 | @use "normalize";
 *   | ================ original load
 *   '
 *   _normalize.scss 1:1  @use
 *   Sass.scss 2:1        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Module loop: this module is already being loaded.\a   \250c \2500 \2500 > _normalize.scss\a 1 \2502  @use "normalize";\d\a   \2502  ^^^^^^^^^^^^^^^^ new load\a   \2575 \a   \250c \2500 \2500 > Sass.scss\a 2 \2502  @use "normalize";\d\a   \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original load\a   \2575 \a   _normalize.scss 1:1  @use\a   Sass.scss 2:1        root stylesheet';
}
