div{
    box-sizing: border-box;
}

.container{
    height: 100VH;
}

.header{
    display: flex;
    width: 70%;
    height: 350px;
    max-height: 40%;
    margin: auto;
    background: linear-gradient(to bottom, #4997DC, #4E64C2);
    position: relative;
    justify-content: space-between;
}

.header-info {
    width: 40%;
    height: 100%;
    padding-top: 3%;
    padding-left: 7%;
    color: white;
}

.header-img{
    width: 40%;
    height: 100%;
}

.header-img>img{
    width: 25%;
    height: 80%;
    position: absolute;
    top: 20%;
    left: 70%;
}

button {
    color : white;
    padding: 10px;
    background-color: #444445;
    border: 0px;
    border-radius: 5px;
}

.main{
    width: 70%;
    height: 250px;
    max-height: 25%;
    margin: auto;
}

.main>div{
    margin: auto;
    width: 50%;
    height: 100%;
}

.footer{
    width: 70%;
    height: 350px;
    max-height: 40%;
    margin: auto;
    padding-top: 1px;
    background: #4E64C2;
}

.footer-wrapper{
    width: 60%;
    height: 80%;
    display: flex;
    margin: auto;
}

.footer-top-container,
.footer-bottom-container{
    display: flex;
}

.footer-top-container,
.footer-bottom-container,
.footer-first,.footer-second,
.footer-third,.footer-fourth{
    width: 50%;
    height: 100%;
    margin-top: 2%;
}

.footer-first,.footer-second,
.footer-third,.footer-fourth{
    width: 50%;
    height: 100%;
    text-align: center;
}

i{
    width: 100px;
    height: 100px;
    background-color: white;
    font-size: 50px;
    color: #4E64C2;
    padding-top: 25px;
    text-align: center;
    border-radius: 100px;
    box-sizing: border-box;
    vertical-align: middle;
}

.title{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
}

.describe{
    font-size: 16px;
    margin-top: 0px;
}

.footer-first > p,.footer-second > p,
.footer-third > p,.footer-fourth > p{
    color: white;
}

@media screen and (max-width: 768px) {

    .h2{
        margin-top: 0%;
    }

    .header{
        padding-top: 1px;
        display: block;
        width: 100%;
        height: 70%;
        max-height: 100%;
        margin: auto;
        background: linear-gradient(to bottom, #4997DC, #4E64C2);
        position: relative;
        justify-content: space-between;
    }

    .header-info {
        width: 100%;
        height: 50%;
        padding:2% 0% 0% 0%;
        color: white;
    }

    .header-info>p,
    .header-info>h2{
        text-align: center;
    }

    .header-info > button{
        display: block;
        margin: auto;
    }


    .header-img{
        width: 100%;
        height: 50%;
    }

    .header-img>img{
        width: 80%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 10%;
    }

    .main{
        width: 100%;
        height: 40%;
        max-height: 100%;
        padding-top: 1px;
        margin: auto;
    }

    .main>div{
        margin: auto;
        width: 70%;
        height: 100%;
    }

    .footer{
        width: 100%;
        height: 66%;
        max-height: 100%;
        margin: auto;
        padding-top: 1px;
        background: #4E64C2;
    }

    .footer-wrapper{
        display: block;
        width: 60%;
        height: 75%;
        margin: auto;
    }

    .footer-top-container,
    .footer-bottom-container{
        display: flex;
    }

    .footer-top-container,
    .footer-bottom-container,
    .footer-first,.footer-second,
    .footer-third,.footer-fourth{
        width: 100%;
        height: 40%;
        margin-top: 2%;
    }

    .footer-first,.footer-second,
    .footer-third,.footer-fourth{
        width: 50%;
        height: 100%;
        text-align: center;
    }

    i{
        width: 70px;
        height: 70px;
        vertical-align: middle;
        background-color: white;
        font-size: 50px;
        color: #4E64C2;
        padding-top: 10px;
        text-align: center;
        border-radius: 100px;
        box-sizing: border-box;

    }

    .title{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 24px;
    }

    .describe{
        font-size: 16px;
        margin-top: 0px;
    }

}