.container{
    width: 800px;

}

.header{
    width: 100%;
    height: 50px;
    background: aquamarine;
}

.left-menu{
    width: 20%;
    height: 400px;
    background-color: cornflowerblue;
    display: inline-block;
    vertical-align: top;
    /*vertical align 은 inline 혹은 inline-block속성에서만 사용가능*/
}

.right-menu{
    width: 80%;
    height: 400px;
    background-color: coral;
    display: inline-block;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: gray;
    /*clear: both;*/
}