.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../image/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(150%);
    padding: 1px;
}


.title {
    color: white;
    font-size: 60px;
    /* 배경이랑 태두리가 겹쳐서 마진 컬랩스 일어남 margin-top: 300px;*/
    margin-top:100px;
}

.btn-main{
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 5px;
    /* position relative : 내 원래 위치를 기준으로 해 주세요 */
    /* position속성의 특징
     1. 좌표이동을 위한 기준점을 잡는 속성
     2. 공중에 뜬다.
        static 좌표이동 x
        fixed 현재화면이 기준, 현재 뷰포트에 고정, 스크롤 해도 상단에 고정되어있는 메뉴를 만들때 쓴다.
        absolute  position relative인 내 부모를 기준으로 움직이고 싶을 때
     */
    position: relative;
    /*top: 100px;*/
    /*left:300px;*/
    bottom: 170px;
    font-weight: bolder;
    z-index: 10;
}

.box-subscribe {
    width: 500px;
    height: 200px;
    background: gray;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: -120px;
    /* z-index는 position 속성때문에 요소가 붕떴을 때, 높낮이 조절하는 속성  */
    z-index: 0;
}

body{
    margin: 0;
}

.form{
    width: 700px;
    height: 500px;
    border: 1px solid black;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 150px;
    padding: 50px;
}

input[type='text'] {
    box-sizing: border-box;
    display: block;
    padding: 10px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

textarea{
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
}

.test{
    /*width: 100%;*/
    /* 현재 브라우저의 폭에비례 */
    width: 100vw;
    /* 현재브라우저에 높이에 비례 */
    /* 1rem = 16px 브라우저 폰트사이즈에 비례 쓸데없음. em은 내 폰트사이즈에 x배 */
    height: 50vh;
    background-color: grey;
}

/* 브레이크 포인트를 만드는 것 */

@media screen and (max-width: 1200px) {
    .title {
        font-size : 30px
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size : 16px
    }
}

@media screen and (max-width: 576px) {
    .title {
        font-size : 16px
    }
}