.main-background {
    width: 100%;
    height: 700px;
    background-image: url(../image/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(150%);
    padding: 1px;

}

.title {
    color: white;
    font-size: 40px;
    /* 배경이랑 태두리가 겹쳐서 마진 컬랩스 일어남 margin-top: 300px;*/
    margin:200px;
}