.box{
    width: 100px;
    height: 100px;
    border-radius: 70%;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header {
    font-size: 20px;
    text-align: center;
}

.paragraph {
    text-align: center;
}

.make-border {
    font-weight: bolder
}