
@use "normalize.css";

@mixin row-style($height, $padding){
  height: $height;
  padding: $padding;
}

@mixin menu-style($name){
  content: $name;
  font-size: 0px;
  display: inline-block;
  animation-name: menu_animation;
  animation-fill-mode: forwards;
  animation-duration: 1.3s;
}


@mixin card-style($color){
  border-left: 7px solid $color;
  padding: 5%;
  display: flex;
}

body{
  height: 100VH;
}

.container-fluid{
  @include row-style(100%, 0)
}

.row:nth-child(2), .row:nth-child(3){
  @include row-style(10%, 15px)
}

.row:nth-child(4){
  @include row-style(20%, 0px 15px 15px 15px)
}

.row:nth-child(5){
  @include row-style(60%, 15px)
}

.btn-glass {
  color: white;
  background-color: #111717;
}

.btn-glass:hover{
  color: white;
}

.nav-item{
  padding: 8px;
}

.fa-bell{
  position: relative;
}

.badge-bell{
  position: absolute;
  display: block;
  top: -2px;
  left: 20px;
}

.search-anime{
  width: 200px;
  transition: width 1s;
}

.search-anime:focus{
  width: 300px;
}

.menu{
  width: 5%;
  height: 100%;
  padding: 30px 15px;
  float: left;
  text-align: center;
  color: white;
  background-color: #111717;
  transition: 0.5s;

  ul{
      list-style: none;
      font-size:1.2em;
      padding: 0px;

      li:nth-child(1){
        margin-top: 50px;
      }

      li:nth-child(2), li:nth-child(3),
      li:nth-child(4){
        margin-top: 100px;
      }
  }

}



/* pc에서만 hover 효과가 동작하도록 */
@media (hover: hover) {
  .menu:hover{
    width: 15%;
    text-align: left;
    ul{
        li:nth-child(1)::after{
          @include menu-style('Home');
        }

        li:nth-child(2)::after{
          @include menu-style('Services');
        }

        li:nth-child(3)::after{
          @include menu-style('Alerts');
        }

        li:nth-child(4)::after{
          @include menu-style('Charts');
        }
    }
  }
}


.grid-container{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: auto auto auto auto;
  grid-template-rows:1fr;
  grid-gap: 2%;

  .first-card{
    @include card-style(yellow)
  }

  .second-card{
    @include card-style(greenyellow)
  }

  .third-card{
    @include card-style(skyblue)
  }

  .fourth-card{
    @include card-style(darkblue)
  }
}

.content-header{
  height: 10%;
}

.card-chart{
  width: 100%;
  height: 95%;
  margin-left: 12px;
  padding: 0px;

  .card-body{
    padding-top: 0px;
  }
  #myChart{
    height: 95%!important;
  }
}

.card-array{
  width: 95%;
  margin-left: 5%;
}

@keyframes menu_animation {
  0%{
    transform: translateX(-999px);
  }
  30%{
    font-size: 19px;
  }

  60%{
    transform: translateX(30px);
  }
  100%{
    transform: translateX(15px);
    font-size: 19px;
  }
}






.menu::after{
  clear: both;
}


@media screen and (max-width: 768px) {
  .row{
    width: 90%!important;
    margin-left: 10%!important;
  }

  .navbar{
    padding: 0px;
  }

  .row:nth-child(2){
    padding: 0px;
  }

  .row:nth-child(4){
    height: 100%;
    padding: 15px;
    overflow: hidden;
  }

  .row:nth-child(5){
    height: 60%;
    padding: 15px;
  }

  .search-anime:focus{
    width: 200px;
  }

  .menu{
    width: 10%;
    padding: 30px 0px;
    position: fixed;
    z-index: 5;
  }

  /* 그리드 컨테이너 배치수정 */
  .grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }

  .content-header{
    height: 10%;
  }

  .card-chart{
    margin-left: 0px;
  }

  .card-array{
    margin-left: 0%;
  }
}