
body{
  height: 100VH;
}

.container-fluid{
  height: 100%;
  padding: 0;
}

.row:nth-child(2){
  height: 10%;
  padding: 15px;
}

.row:nth-child(3){
  height: 10%;
  padding: 15px;
}
.row:nth-child(4){
  height: 20%;
  padding: 0px 15px 15px 15px;
}

.row:nth-child(5){
  height: 60%;
  padding: 15px;
}

.btn-glass {
  color: white;
  background-color: #111717;
}

.btn-glass:hover{
  color: white;
}

.nav-item{
  padding: 8px;
}

.fa-bell{
  position: relative;
}

.badge-bell{
  position: absolute;
  display: block;
  top: -2px;
  left: 20px;
}

.search-anime{
  width: 200px;
  transition-property: width;
  transition: 1s;
}

.search-anime:focus{
  width: 300px;
}

.menu{
  width: 5%;
  height: 100%;
  padding: 30px 15px;
  float: left;
  text-align: center;
  color: white;
  background-color: #111717;
  transition: 0.5s;

  ul{
    list-style: none;
    font-size:19px;
    padding: 0px;

    li:nth-child(2), li:nth-child(3),
    li:nth-child(4){
      margin-top: 100px;
    }

  }
}

.menu:hover{
  width: 15%;
  padding: 30px 15px;
  text-align: left;
  ul{

    li:nth-child(2), li:nth-child(3),
    li:nth-child(4){
      margin-top: 100px;
    }

    li:nth-child(1)::after{
      content: 'Home';
      font-size: 0px;
      display: inline-block;
      animation-name: menu_animation;
      animation-fill-mode: forwards;
      animation-duration: 1.3s;

    }

    li:nth-child(2)::after{
      content: 'Services';
      font-size: 0px;
      display: inline-block;
      animation-name: menu_animation;
      animation-fill-mode: forwards;
      animation-duration: 1.3s;

    }

    li:nth-child(3)::after{
      content: 'Alerts';
      font-size: 0px;
      display: inline-block;
      animation-name: menu_animation;
      animation-fill-mode: forwards;
      animation-duration: 1.3s;
    }

    li:nth-child(4)::after{
      content: 'Chart';
      font-size: 0px;
      display: inline-block;
      animation-name: menu_animation;
      animation-fill-mode: forwards;
      animation-duration: 1.3s;
    }

  }

}

.grid-container{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:1fr;
  grid-gap: 5%;

  .first-card{
    border-left: 7px solid yellow;
    padding: 5%;
    display: flex;
  }

  .second-card{
    border-left: 7px solid greenyellow;
    padding: 5%;
    display: flex;
  }

  .third-card{
    border-left: 7px solid skyblue;
    padding: 5%;
    display: flex;
  }

  .fourth-card{
    border-left: 7px solid darkblue;
    padding: 5%;
    display: flex;
  }
}

.content-header{
  height: 10%;
}

.card-chart{
  width: 100%;
  height: 95%;
  margin-left: 12px;
  padding: 0px;

  .card-body{
    padding-top: 0px;
  }
  #myChart{
    height: 95%!important;
  }
}

.card-array{
  width: 95%;
  margin-left: 5%;
}

@keyframes menu_animation {
  0%{
    transform: translateX(-999px);
  }
  30%{
    font-size: 19px;
  }

  60%{
    transform: translateX(30px);
  }
  100%{
    transform: translateX(15px);
    font-size: 19px;
  }
}






.menu::after{
  clear: both;
}


@media screen and (max-width: 768px) {
  .nav-co{
    width: 90%!important;
  }
  .row{
    width: 90%!important;
    margin-left: 10%!important;
  }

  .navbar{
    padding: 0px;
  }

  .row:nth-child(2){
    height: 10%;
    padding: 0px;
  }

  .row:nth-child(3){
    height: 10%;
    padding: 15px;
  }
  .row:nth-child(4){
    height: 80%;
    padding: 15px;
    overflow: hidden;
  }

  .row:nth-child(5){
    height: 60%;
    padding: 15px;
  }

  .btn-glass {
    color: white;
    background-color: #111717;
  }

  .btn-glass:hover{
    color: white;
  }

  .nav-item{
    padding: 8px;
  }

  .fa-bell{
    position: relative;
  }

  .badge-bell{
    position: absolute;
    display: block;
    top: -2px;
    left: 20px;
  }

  .search-anime{
    width: 200px;
    transition-property: width;
    transition: 1s;
  }

  .search-anime:focus{
    width: 300px;
  }

  .menu{
    width: 10%;
    height: 100%;
    padding: 30px 0px;
    text-align: center;
    position: fixed;
    z-index: 5;
    color: white;
    background-color: #111717;
    transition: 0.5s;
    ul{
      list-style: none;
      font-size:19px;
      padding: 0px;

      li:nth-child(2), li:nth-child(3),
      li:nth-child(4){
        margin-top: 100px;
      }

    }
  }

  .grid-container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 2%;

    .first-card{
      border-left: 7px solid yellow;
      padding: 5%;
      display: flex;
    }

    .second-card{
      border-left: 7px solid greenyellow;
      padding: 5%;
      display: flex;
    }

    .third-card{
      border-left: 7px solid skyblue;
      padding: 5%;
      display: flex;
    }

    .fourth-card{
      border-left: 7px solid darkblue;
      padding: 5%;
      display: flex;
    }
  }

  .content-header{
    height: 10%;
  }

  .card-chart{
    width: 100%;
    height: 95%;
    margin-left: 0px;
    padding: 0px;

    .card-body{
      padding-top: 0px;
    }

    #myChart{
      height: 95%!important;
    }
  }

  .card-array{
    width: 100%;
    margin-left: 0%;
  }

  @keyframes menu_animation {
    0%{
      transform: translateX(-999px);
    }
    30%{
      font-size: 19px;
    }

    60%{
      transform: translateX(30px);
    }
    100%{
      transform: translateX(15px);
      font-size: 19px;
    }
  }






  .menu::after{
    clear: both;
  }
}